{% extends "base.html" %}
{% block content %}
    <hgroup>
        <h2>第 {{ q_num }} 問 / 全 {{ total }} 問</h2>
        <h1>{{ question_prompt }}</h1>
    </hgroup>
    <p>上の意味を持つクメール語はどれでしょう？</p>
    <form action="{{ url_for('answer') }}" method="post">
        <fieldset>
            {% for choice_obj in choices %}
                <label>
                    <input type="radio" name="choice" value="{{ choice_obj.pronunciation }}" required>
                    {{ choice_obj.pronunciation }}
                </label>
            {% endfor %}
        </fieldset>
        <button type="submit">回答する</button>
    </form>
{% endblock %}